body{
    background-color: rgba(154, 206, 103, 0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    height: 100vh;
}

.navbar{
    background-color: rgba(2, 1, 0.7, 0.1);
    height: 12vh;
    text-align: center;
    font: 800;
        
    border-radius: 5px;
}
.nav-item{
    font: 800;
    color: rgb(1, 162, 226);
    font-size: larger;
}
.nav-item :hover{
    border-top: 3px gold solid;
}
/*******************************************HOME PAGE*******************************************************************/

.showbar{
    height: 30vh;
    background-color: rgba(23, 41, 68, 0.2);
    width: 60vw;
    color: rgb(7, 37, 49);
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
}

.carousel-inner{
    width: 90vw;
    height: 60vh;
    border-radius: 20px;
}
.carousel-item img{
    background-color: rgba(0,0,0,0.8);
}

.socials li{
    display: flex;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
}
.footer{
    height: 13vh;
    bottom: 0;
    top: 100%;
}
.footer-about{
    height: 13vh;
    bottom: 0;
    top: 100%;
    position: absolute;
}
/*******************************************ABOUT PAGE*******************************************************************/


.forms{
    width: 40vw;
    margin-left: 55%;
    position: fixed;
}
.e6e{
    width: 30vw;
    margin-top: 0;
    margin: 2%;
    background-color: rgba(37, 40, 44, 0.2);
    border: 2px rgb(226, 1, 57) solid;
    height: 40vh;
    border-radius: 5px;
}
/*******************************************SERVICES PAGE*******************************************************************/
.content{
    margin: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 500;
}
.content h1{
    text-align: center;
}
.sect_one{
    width: 25vw;
    height: 25vh;
    border: 2px blue;
    text-align: center;
    background-color: rgba(118, 183, 209, 0.4);
    border-radius: 5px;
}

.sect_two{
    width: 25vw;
    height: 25vh;
    border: 2px darkgoldenrod;
    margin-left: 55%;
    text-align: center;
    background-color: rgba(203, 209, 118, 0.4);
    border-radius: 5px;
}

.sect_three{
    width: 25vw;
    height: 25vh;
    border: 2px green;
    text-align: center;
    background-color:rgba(118, 209, 167, 0.4);
    border-radius: 5px;
}

.sect_four{
    width: 25vw;
    height: 25vh;
    border: 2px red ;
    margin-left: 50%;
    text-align: center;
    background-color: rgba(209, 118, 189, 0.4);
    border-radius: 5px;
}

/*******************************************SMALL DEVICES*******************************************************************/

@media screen and (max-width: 800px){
    body{
        background-color: rgba(118, 209, 167, 0.4);
        font-family: Arial, Helvetica, sans-serif;
    }
    .navbar{
        background-color: rgb(18, 67, 87);
        height: 9vh;
        position: relative;
    }
    .nav-item{
        font: 300;
        color: rgb(1, 162, 226);
        font-size: large;
    }
    .showbar{
        margin: 5%;
        height: 35vh;
    }
    .carousel-inner{
        margin: 3%;
        height: 30vh;
    }
    .sect_one{
        font: 100;
        font-size: small;
        height: 25vh;
        width: 40vw;
    }
    .sect_two{
        font: 100;
        font-size: small;
        height: 25vh;
        width: 40vw;
    }
    .sect_three{
        font: 100;
        font-size: small;
        height: 25vh;
        width: 40vw;
    }
    .sect_four{
        font: 100;
        font-size: small;
        height: 25vh;
        width: 40vw;
    }
    .socials{
        bottom: 0;
    }
    .e6e{
        width: 70vw;
        margin: 5%;
    }
    .forms{
        margin: 5%;
        width: 60vw;
        position: relative;
    }
    
    .footer-about{
        position: relative;
    }

}